body {
	font-family: Helvetica, sans-serif;
	color: white;
	background: purple;
}

h1 {
	font-weight: bold;
	font-size: 100px;
	margin: 0 0 1em;
}

#page {
	width: 500px;
	margin: 30px auto;
	padding: 30px;
	background-color: black;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: 1px 1px 5px rgba(#ffff);
	-moz-box-shadow: 1px 1px 5px rgba(#ffff);
	box-shadow: 1px 1px 5px rgba(#ffff)
}
